@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  overflow-x: wrap;
}

/* width */
/* ::-webkit-scrollbar {
  width: 7px;
} */

/* Track */
/* ::-webkit-scrollbar-track {
  background: #272935;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: #1f2029;
  border-radius: 18px;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #191a20;
} */
/* 
::-moz-selection { 
  color: #303030;
  background: #fe7ac700;
} */

/* ::selection {
  color: #303030;
  background: #fe7ac700;
} */