@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 231 15% 18%;
        --foreground: 60 33% 96%;

        --card: 233 16% 11%;
        --card-foreground: 0 0% 98%;

        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;

        --primary: 326 100% 74%;
        --primary-foreground: 330 26% 15%;

        --secondary: 265 88% 78%;
        --secondary-foreground: 268 19% 16%;

        --muted: 233 16% 11%;
        --muted-foreground: 240 5% 64.9%;

        --accent: 230 15% 30%;
        --accent-foreground: 60 33% 96%;

        --destructive: 0 100% 67%;
        --destructive-foreground: 4 38% 14%;

        --border: 240 3.7% 15.9%;
        --input: 233 16% 11%;
        --ring: 326 100% 74%;
        --radius: 0.75rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
