@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
/* ::-webkit-scrollbar {
  width: 7px;
} */

/* Track */
/* ::-webkit-scrollbar-track {
  background: #272935;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: #1f2029;
  border-radius: 18px;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #191a20;
} */
/* 
::-moz-selection { 
  color: #303030;
  background: #fe7ac700;
} */

/* ::selection {
  color: #303030;
  background: #fe7ac700;
} */

:root {
  color-scheme: none;
}